.articleList {
  font-size: 1.3rem;
  list-style: none;
  li {
    padding-bottom: 2%;
  }
}

.articlesContainer {
  padding-top: calc(var(--nav-height) + 3%);
}

.date {
  font-size: 1rem;
  color: var(--gray-2);
}
