.code {
  background-color: black;
  color: white;
  text-align: left;
  margin: auto 0;
  padding: 10px;
  border-radius: var(--border-radius-xs);
  font-size: 12px;
  line-height: 20px;
  max-width: 80%;
  margin: auto;
}
