.footer { 
    padding: 48px 0;
    background-color: $color-modern-blue;
    border-top: 1px solid $color-modern-yellow;
    color: $color-modern-white;
}

.footerInner {
    display: flex;
    justify-content: space-between;
}