html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5rem;
    
}

a {
  color: inherit;
  text-decoration: none;
}



h1,h2,h3,h4,h5,h6 {
  margin: 0;
  line-height: 3rem;
}

button {
  font-family: 'Raleway', sans-serif;

  button:focus {
    outline: none;
  }
}

