.landing {
  padding: 11% 0;
}

.indexContainer {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.bgWave {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}

.bgWaveUpsideDown {
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.positionRelativeBottom {
  position: relative;
}

.landingContainer {
  font-size: 1.6rem;
}

.latest {
}

.latestContainer {
  padding: 5% 0;

  display: flex;

  align-items: center;
  justify-content: center;
}

.articleWrapper1,
.articleWrapper2,
.articleWrapper3,
.articleWrapper4 {
  flex: 1;
  height: calc(15vw);
  max-height: 275px;
  display: flex;
  margin: 1%;
  border-radius: 10px;
}

.articleWrapper1,
.articleWrapper2,
.articleWrapper3 {
  background: linear-gradient(
    142deg,
    rgba(143, 226, 252, 1) 0%,
    rgba(26, 174, 222, 1) 100%
  );
}

.article1,
.article2,
.article3 {
  padding: 8%;
}

.latestHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.aboutSection {
  padding-top: 48px;
}

.aboutContainer {
  display: flex;
  color: black;
}

.aboutCreated,
.aboutAws {
  flex: 1 1 50%;
  text-align: center;
  background: white;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5% 0;
}

.aboutCreated {
  margin-right: 2rem;
}

.aboutAws {
  margin-left: 2rem;
}

.aboutAwsContainer {
  padding-top: 14px;
}

.code {
  background-color: black;
  color: white;
  text-align: left;
  margin: auto 0;
  margin-right: 22px;
  padding: 10px;
  border-radius: 5px;
}

.aboutAwsContainer {
  display: flex;
  justify-content: center;
}

.githubButton {
  display: flex;
  align-items: center;
  background: none;
  border-radius: 5px;
  background-color: #eff3f6;
  margin-left: 5px;
  padding: 3px 10px;
  border: none;

  background-image: linear-gradient(180deg, #fafbfc, #eff3f6 90%);
}

.iconRow {
  display: flex;
  justify-content: center;
}

.nextIcon {
  max-width: 128px;
  padding: 0 12px;
}

.reactIcon {
  max-width: 80px;
}

.awsIcon {
  max-width: 80px;
  padding-right: 20px;
}

.githubContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 10px;
}

.github {
  max-height: 30px;
  max-width: 30px;
  margin-left: 5px;
}

.githubIcon {
  padding-right: 5px;
}

@media (max-width: 1079px) {
  .latestContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
  .articleWrapper1,
  .articleWrapper2,
  .articleWrapper3,
  .articleWrapper4 {
    flex: 1;
    height: calc(18vw);
    max-height: 275px;
    display: flex;
    margin: 1%;
  }
}
