.landing {
  padding: min(calc(15% - 39px), calc(190px - 39px)) 0 min(15%, 190px) 0;
}

.indexContainer {
  padding-top: var(--nav-height);
}

.bgWave {
  position: absolute;
  width: 100%;
  top: var(--nav-height);
  z-index: -1;
  //transform: scaleY(1.7);
}

.bgWaveUpsideDown {
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.socialMediaGroupTop {
  padding-top: 10px;
}

.positionRelativeBottom {
  position: relative;
}

.aboutMeContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5% 0 15% 0;

  div {
    padding: 0 5%;
  }
}

.aboutMeSection {
  color: white;
  background: var(--blue-4);
}

.aboutMeTitle {
  text-align: right;
}
.landingContainer {
}

.latestContainer {
  padding: 0 10% 10% 10%;
  row-gap: 1rem;
  column-gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articleWrapper1,
.articleWrapper2,
.articleWrapper3,
.articleWrapper4 {
  flex: 1;
  height: 18.4vw;
  max-height: 252px;
  display: flex;
  //margin: 1%;
  //border-radius: var(--border-radius);
}

.articleWrapper1,
.articleWrapper2,
.articleWrapper3 {
  -webkit-box-shadow: var(--blue-3-shadow);
  box-shadow: var(--blue-3-shadow);
  background: var(--blue-3);
  transition: var(--transition);
  border-radius: 10%;
  color: white;
  &:hover {
    background: var(--blue-4);
  }
}

.article {
  padding: 8%;
  display: flex;
  flex-direction: column;
  height: 84%;
  justify-content: space-between;
}

.latestHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.aboutContainer {
  top: max(-110px, -10vw);
  position: relative;
  display: flex;
  color: black;
}

.aboutCreated,
.aboutAws {
  flex: 1 1 50%;
  text-align: center;
  background: var(--blue-1);

  //-webkit-box-shadow: var(--blue-3-shadow);
  //box-shadow: var(--blue-3-shadow);
  border-radius: 20px;
  padding: 5% 0;
  //border: 2px solid var(--blue-4);
}

.aboutCreated {
  margin-right: 2rem;
}

.aboutAws {
  margin-left: 2rem;
}

.aboutAwsContainer {
  padding-top: 14px;
}

.code {
  background-color: black;
  color: white;
  text-align: left;
  margin: auto 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 20px;
  max-width: 80%;
}

.socialMediaGroup {
  padding-top: 10px;
}

.aboutAwsContainer {
  display: flex;
  justify-content: center;
}

.emailParentButton {
  display: flex;
  margin-left: 10px;
  //-webkit-box-shadow: var(--simple-shadow);
  //box-shadow: var(--simple-shadow);
  border-radius: 14px;
}
.emailButton,
.clipboardButton {
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--blue-1);
  height: 40px;
  font-size: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 10px;
  transition: var(--transition);
  &:hover {
    cursor: pointer;
    background: var(--blue-2);
  }
}

.articleDate {
  text-align: right;
}

.emailButton {
  border-radius: 10px 0 0 10px;
  border-right: 2px solid var(--blue-2);
}

.clipboardButton {
  border-radius: 0 10px 10px 0;
}

.iconRow {
  display: flex;
  justify-content: center;
}

.nextIcon {
  max-width: 128px;
  padding: 0 12px;
}

.reactIcon {
  max-width: 80px;
}

.awsIcon {
  width: 80px;
  padding-right: 20px;
}

.awsLink {
  margin: auto 0;
}

.hireMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

@media (max-width: 1500px) {
  .bgWave {
    transform: scaleY(1.6);
  }
}

@media (max-width: 1100px) {
  .bgWave {
    transform: scaleY(2);
  }
  .landing {
    padding: 12% 0;
  }
  .latestContainer {
    display: grid;
    grid-template-columns: 25% 25%;
  }
  .articleWrapper1,
  .articleWrapper2,
  .articleWrapper3,
  .articleWrapper4 {
    height: calc(19.6vw);
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutCreated,
  .aboutAws {
    margin: 0;
    width: 70%;
  }

  .aboutCreated {
    margin-bottom: 3%;
  }
}

@media (max-width: 900px) {
  .bgWave {
    transform: scaleY(4);
  }

  .landing {
    padding: 18% 0;
  }
  .latestContainer {
    display: grid;
    grid-template-columns: 30% 30%;
  }
  .articleWrapper1,
  .articleWrapper2,
  .articleWrapper3,
  .articleWrapper4 {
    height: calc(23.6vw);
  }

  .aboutCreated,
  .aboutAws {
    width: 85%;
  }
}

@media (max-width: 700px) {
  .bgWave {
    transform: scaleY(5);
  }

  .landing {
    padding: 20% 0;
  }
  .latestContainer {
    display: grid;
    grid-template-columns: 40% 40%;
  }
  .articleWrapper1,
  .articleWrapper2,
  .articleWrapper3,
  .articleWrapper4 {
    height: calc(31.4vw);
  }

  .awsIcon {
    display: none;
  }
  .aboutCreated,
  .aboutAws {
    width: 100%;
  }

  .nextIcon {
    max-width: 96px;
    padding: 0 12px;
  }

  .reactIcon {
    max-width: 60px;
  }

  .hireMeContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .emailParentButton {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .bgWave {
    transform: scaleY(3.5);
  }
  .latestContainer {
    padding: 7% 0% 10% 0%;
  }

  .articleWrapper1,
  .articleWrapper2,
  .articleWrapper3,
  .articleWrapper4 {
    height: calc(39vw);
  }
}

.clipboard {
  height: 20px;
  width: 20px;
}
