.landing {
  padding: 15% 0;
}

.indexContainer {
  padding-top: var(--nav-height);
}

.bgWave {
  position: absolute;
  width: 100%;
  top: var(--nav-height);
  z-index: -1;
  transform: scaleY(1.7);
}

.bgWaveUpsideDown {
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.socialMediaList {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  list-style: none;

  li {
    padding-left: 10px;
  }
}

.positionRelativeBottom {
  position: relative;
}

.aboutMeContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5% 0 25% 0;

  div {
    padding: 0 5%;
  }
}

.aboutMeSection {
  background: var(--light-blue);
}

.aboutMeTitle {
  text-align: right;
}
.landingContainer {
}

.latestContainer {
  padding: 0 10% 15% 10%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.articleWrapper1,
.articleWrapper2,
.articleWrapper3,
.articleWrapper4 {
  flex: 1;
  height: 18.4vw;
  max-height: 252px;
  display: flex;
  margin: 1%;
  border-radius: var(--border-radius);
}

.articleWrapper1,
.articleWrapper2,
.articleWrapper3 {
  background: var(--light-blue-2);
  -webkit-box-shadow: var(--simple-shadow);
  box-shadow: var(--simple-shadow);
  transition: var(--transition);
  &:hover {
    background: var(--light-blue);
  }
}

.article {
  padding: 8%;
  display: flex;
  flex-direction: column;
  height: 84%;
  justify-content: space-between;
}

.latestHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.aboutSection {
}

.aboutContainer {
  top: -100px;
  position: relative;
  display: flex;
  color: black;
}

.aboutCreated,
.aboutAws {
  flex: 1 1 50%;
  text-align: center;
  background: var(--light-blue-2);
  //-webkit-box-shadow: var(--simple-shadow);
  //box-shadow: var(--simple-shadow);
  border-radius: var(--border-radius);
  padding: 5% 0;
}

.aboutCreated {
  margin-right: 2rem;
}

.aboutAws {
  margin-left: 2rem;
}

.aboutAwsContainer {
  padding-top: 14px;
}

.code {
  background-color: black;
  color: white;
  text-align: left;
  margin: auto 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 20px;
  max-width: 80%;
}

.aboutAwsContainer {
  display: flex;
  justify-content: center;
}

.emailParentButton {
  display: flex;
  margin-left: 10px;
  -webkit-box-shadow: var(--simple-shadow);
  box-shadow: var(--simple-shadow);
  border-radius: 10px;
  border: 2px solid #ebebeb;
}
.emailButton,
.clipboardButton {
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--light-gray-2);
  height: 40px;
  font-size: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 10px;
  transition: var(--transition);
  &:hover {
    cursor: pointer;
    background: #ebebeb;
  }
}

.articleDate {
  color: #4f4f4f;
  text-align: right;
}

.emailButton {
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #bababa;
}

.clipboardButton {
  border-radius: 0 10px 10px 0;
}

.iconRow {
  display: flex;
  justify-content: center;
}

.nextIcon {
  max-width: 128px;
  padding: 0 12px;
}

.reactIcon {
  max-width: 80px;
}

.awsIcon {
  width: 80px;
  padding-right: 20px;
}

.awsLink {
  margin: auto 0;
}

.hireMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 10px;
}

@media (max-width: 1500px) {
  .bgWave {
    transform: scaleY(2.2);
  }
}

@media (max-width: 1100px) {
  .bgWave {
    transform: scaleY(2);
  }
  .landing {
    padding: 12% 0;
  }
  .latestContainer {
    display: grid;
    grid-template-columns: 25% 25%;
    row-gap: 1vw;
    column-gap: 1vw;
  }
  .articleWrapper1,
  .articleWrapper2,
  .articleWrapper3,
  .articleWrapper4 {
    height: calc(19.6vw);
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutCreated,
  .aboutAws {
    margin: 0;
    width: 70%;
  }

  .aboutCreated {
    margin-bottom: 3%;
  }
}

@media (max-width: 900px) {
  .bgWave {
    transform: scaleY(4);
  }

  .landing {
    padding: 18% 0;
  }
  .latestContainer {
    display: grid;
    grid-template-columns: 30% 30%;
    row-gap: 1vw;
    column-gap: 1vw;
  }
  .articleWrapper1,
  .articleWrapper2,
  .articleWrapper3,
  .articleWrapper4 {
    height: calc(23.6vw);
  }

  .aboutCreated,
  .aboutAws {
    width: 85%;
  }
}

@media (max-width: 700px) {
  .bgWave {
    transform: scaleY(6);
  }

  .landing {
    padding: 20% 0;
  }
  .latestContainer {
    display: grid;
    grid-template-columns: 40% 40%;
    row-gap: 1vw;
    column-gap: 1vw;
  }
  .articleWrapper1,
  .articleWrapper2,
  .articleWrapper3,
  .articleWrapper4 {
    height: calc(31.4vw);
  }

  .awsIcon {
    display: none;
  }
  .aboutCreated,
  .aboutAws {
    width: 100%;
  }

  .nextIcon {
    max-width: 96px;
    padding: 0 12px;
  }

  .reactIcon {
    max-width: 60px;
  }

  .hireMeContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .emailParentButton {
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .bgWave {
    transform: scaleY(8);
  }
  .latestContainer {
    padding: 7% 0% 10% 0%;
  }

  .articleWrapper1,
  .articleWrapper2,
  .articleWrapper3,
  .articleWrapper4 {
    height: calc(39vw);
  }
}

.clipboard {
  height: 20px;
  width: 20px;
}
