.nav {
  position: fixed;
  width: calc(100vw - 6px);
  background-color: white;
  z-index: 10;
}

.list {
  list-style: none;
  display: flex;

  li {
    margin: auto;
    padding: 5px 10px;
    border-radius: 15px;
    transition: var(--transition);

    &:hover {
      background-color: var(--blue-1);
    }
  }
}

.title {
  font-size: 1.5rem;
  padding: 5px 10px;
  border-radius: 15px;
  transition: var(--transition);

  &:hover {
    background-color: var(--blue-1);
  }
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
}
