.nav {
    background-color: $color-modern-blue;
    color: $color-modern-white;
    padding: 12px;
}

.list {
    
    list-style: none;
    display: flex;

    li {
        padding-left: 10px;
    }
}

.title {
    font-size: 1.5rem;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}